@import "_nullstyle.scss";

body{
    font-family: Manrope;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
._container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    border-bottom: 1px solid rgb(204, 201, 201);
}
.header-container{
    display: flex;
    align-items: center;
    padding: 16px 15px;
}
.header-logo{
}
.nav-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 15px;
    margin-right: 15px;
}
.nav-list {
    margin-left: 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
}
.nav-link {
    color: #18191F;
    transition: all 0.3s ease 0s;
}
.nav-link:hover{
    color: #c4990d;
}
.header-link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}
.header-link a{
    margin-left: 12px;
}
@media (max-width:1023px){
    .header-link{
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .header-link a {
        margin-left: 0;
        margin-top: 12px;
    }
}
@media (max-width:845px){
    .header-container{
    justify-content: space-between;
    align-items: flex-start;
    }
    .nav-item {
        flex-direction: column;
        margin-right: 0;
    }
    .nav-list {
        margin-left: 0;
    }
    .header-link{
        flex-grow: 0;
    }
    .nav-list {
        font-size: 24px;
    }
}
@media (max-width:510px){
    .header-container{
        flex-direction: column;
        align-items: center;
    }
    .nav{
        margin: 40px 0 20px;
    }
    .header-link{
        flex-direction: row;
        column-gap: 20px;
    }
    .header-link a {
        margin-top: 0;}
}

// ///////////////////////main
.main{
    flex: 1 1 auto;
}
.main-container{
padding: 200px 15px 100px;
}
.main_body{
    display: flex;
}
.main-content {
    flex: 1 1 50%;
    padding-top: 50px;
    & h1{
        font-weight: 800;
        font-size: 72px;
        line-height: 136%;
        color: #18191F;
    }
    & p{
        font-weight: 400;
        font-size: 18px;
        line-height: 178%;
        color: #18191F;
        margin: 16px 0 32px;
    }
    & a{
        display: inline-block;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        background: #8C30F5;
        border-radius: 8px;
        padding: 16px 35px;
        color: #FFFFFF;
        transition: all 0.3s ease 0s;
    }
    & a:hover{
        background: #c6a3ee;
        color: #000000;
    }
}
.main-image {
    flex: 1 1 50%;
}
.main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width:1023px){
    .main-container{
        padding: 50px 15px;
    }
    .main_body{
        flex-direction: column;
    }
    .main-image{
        flex: 1 1 100%;
        margin-top: 20px;
    }
    .main-content{
        flex: 1 1 100%;
    }
}
@media (max-width:510px){
    .main-content {
        padding-top: 20px;
        & h1{
            font-size: 36px;
        }
        & a{
            width: 100%;
        }
    }
.main-container{
    padding: 20px 15px;
    }
}
// ////////////////////////footer
.footer{
    background-color: #0B0D17;
    padding: 19px 0;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #D9DBE1;
}
.footer-link {
    display: flex;
    column-gap: 16px;
}
@media (max-width:465px){
    .footer-container {
        flex-direction: column;
        row-gap: 15px;
    }
}